html, body{
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

#score {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 400px;
    max-width: 40%;
    height: 100px;
}
.grid-container.grid-container-small{
    display: grid;
    grid-template-columns: repeat(2, 8rem);
    grid-template-rows:  repeat(3, 8rem);
    gap: 1.5em;
    perspective: 800px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 8rem);
    grid-template-rows:  repeat(3, 8rem);
    gap: 1em;
    perspective: 800px;
}

.grid-container.grid-container-large{
    display: grid;
    grid-template-columns: repeat(6, 8rem);
    grid-template-rows:  repeat(3, 8rem);
    gap: 1em;
    perspective: 800px;
}

.square {
    position: relative;
    transform-style: preserve-3d;
    transition: 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 25px;
    box-shadow: black 0px 10px 15px;
}

.square > img{
    border-radius: 25px;
    transform: rotate(180deg);
}

.color{
    width: 100%;
    height: 100%;
    position: absolute; 
    pointer-events: none;
}

.back {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: lightgray;
    backface-visibility: hidden;
    pointer-events: none;
    border-radius: 25px;
}

.toggleSquare{
    transform: rotateX(180deg);
}

.start {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80%;
    height: 1000px;
    max-height: 65%;
    z-index: 1;
    transition: all 700ms ease-in;
    background-color: green;
    border-radius: 25px;
    box-shadow: 0px 10px 15px black;
}

.play {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80%;
    height: 700px;
    max-height: 65%;
    z-index: 1;
    transition: all 1000ms ease-in;
    background-color: green;
    border-radius: 25px;
    box-shadow: 0px 10px 15px black;
}

#players {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(100%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80%;
    height: 700px;
    max-height: 65%;
    z-index: 35;
    transition: all 1000ms ease-in;
    background-color: green;
    border-radius: 25px;
    box-shadow: 0px 10px 15px black;
}

.start.inactive{
    transform: translate(-200%, -50%);
}
.play.active{
    transform: translate(-50%, -50%);
}
.play.inactive{
    transform: translate(-200%, -50%);
}
#players.active {
    transform: translate(-50%, -50%);
}
#players.inactive {
    transform: translate(-200%, -50%);
}

#statusBoard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%) scale(0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 85%;
    height: 700px;
    max-height: 65%;
    z-index: 1;
    transition: all 1000ms ease-in;
    background-color: green;
    border-radius: 25px;
    box-shadow: 0px 10px 15px black;
}

#statusBoard.active{
    transform: translate(-50%, -50%) scale(1);
}

#dropdowns{
    display: flex;
    justify-content: center;
    align-items: space-around;
    width: 80%;
}
.drop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}
 
